
<% if params[:gossip_title] == "" or params[:gossip_content] == ""%>
            <div class="alert alert-danger text-center" role="alert">
                  <strong>Un ou plusieurs champ(s) manquant(s)</strong>
                  <ul class="text-left">
                    <% if params[:gossip_title] == "" %>
                      <li>Auteur manquant</li>
                    <% end %>
                    <% if params[:gossip_content] == "" %>
                        <li>Contenu manquant</li>
                    <% end %>
                  </ul>
            </div>
        <% elsif params[:gossip_title] and params[:gossip_content]%>
            <div class="alert alert-success text-center" role="alert">
                 Gossip crée avec succés !
            </div>
        <%end%>

<div style="text-align:center; margin-top:100px;">

    <%= form_tag url_for(action:'create'), method: "post" do %>

      <%= label_tag 'GossipTitle' %><br>
      <%= text_field_tag 'title'  %>
      <br /> <br />

      <%= label_tag 'GossipContent' %><br>
      <%= text_area_tag 'content' %>
      <br /> <br />

      <%= submit_tag "Créer un gossip" %>

    <% end %>

</div>
